@model CreateEstateAgentApplicationDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makaan - Emlakçı Başvuru Sayfası</title>
    <link href="~/css/ApplicationForm.css" rel="stylesheet" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        .login-container {
            max-width: 800px;
            margin: 0 auto;
        }
    </style>
</head>
<body>

    <!-- Makaan Title -->
    <div class="title">Makaan</div>

    <!-- Bubbles -->
    <div class="bubbles">
        <div class="bubble bubble-1"></div>
        <div class="bubble bubble-2"></div>
        <div class="bubble bubble-3"></div>
        <div class="bubble bubble-4"></div>
    </div>

    <!-- Login Form -->
    <div class="login-container position-relative ">
        <h2 class="mb-4">Emlakçı Başvuru Formu</h2>
        <form method="post">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="text" placeholder="Şirket Adı" asp-for="CompanyName" class="form-control" required />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <input type="text" placeholder="Yetkili Ad Soyad" asp-for="AuthorizedNameSurname" class="form-control" required />
                    <span asp-validation-for="AuthorizedNameSurname" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="text" placeholder="Yetkili Telefon No" asp-for="AuthorizedPhoneNumber" class="form-control" required />
                    <span asp-validation-for="AuthorizedPhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <input type="email" placeholder="Şirket Email" asp-for="CompanyEmail" class="form-control" required />
                    <span asp-validation-for="CompanyEmail" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="password" placeholder="Şifre" asp-for="Password" class="form-control" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <input type="password" placeholder="Şifre Tekrar" asp-for="PasswordAgain" class="form-control" required />
                    <span asp-validation-for="PasswordAgain" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="text" placeholder="Şehir" asp-for="City" class="form-control" required />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <input type="text" placeholder="Adres" asp-for="Location" class="form-control" required />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-primary w-100">Gönder</button>
        </form>

        <div class="account-link mt-4">
            <p><a href="/Default/Index"><i class="bi bi-arrow-left-square-fill fs-2"></i></a></p>
        </div>
    </div>

</body>
</html>
