@model CreatePropertyDetailDto
@{
    ViewData["Title"] = "CreatePropertyDetail";
    Layout = "~/Areas/Admin/Views/AdminLayout/_Layout.cshtml";
}

<section class="section">
    <div class="row">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mülk Detayı Ekleme Sayfası</h5>

                <form method="post">
                    <div class="my-2">
                        <label asp-for="Description" class="f mb-2">Mülk Açıklaması</label>
                        <textarea type="text" class="form-control mb-2 summernote" asp-for="Description"></textarea>
                    </div>
                    <div class="my-2">
                        <label asp-for="Information" class="f mb-2">Mülk Bilgisi</label>
                        <textarea type="text" class="form-control mb-2 summernote" asp-for="Information"></textarea>
                    </div>
                    <input type="hidden" value="@ViewBag.Id" name="PropertyId" />

                    <div class="text-center mb-4 mt-3">
                        <button type="submit" class="btn btn-primary px-4 py-2 ">Ekle</button>
                    </div>
                    

                </form>
            </div>
        </div>

        <div>
            <a href="/Admin/PropertyDetail/Index?id=@ViewBag.Id" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Geri Dön</a>
        </div>

    </div>

</section>

