@model CreateFeaturedAboutDto
@{
    ViewData["Title"] = "CreateFeaturedAbout";
    Layout = "~/Areas/Admin/Views/AdminLayout/_Layout.cshtml";
}

<section class="section">
    <div class="row">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Hakkımızda Alanı Ekleme Sayfası</h5>

                <form method="post" enctype="multipart/form-data">
                    <div class="my-2">
                        <label asp-for="Title" class="f mb-2">Başlık</label>
                        <input type="text" class="form-control mb-2" asp-for="Title" />
                    </div>
                    <div class="my-2">
                        <label asp-for="Description" class="f mb-2">Açıklama</label>
                        <textarea type="text" class="form-control mb-2" asp-for="Description" rows="3"></textarea>
                    </div>
                    <div class="my-2">
                        <label asp-for="IntroPosterUrl" class="f mb-2">Giriş Posteri</label>
                        <input type="file" accept=".png,.jpg,.jpeg" class="form-control mb-2" name="PosterURL" />
                    </div>
                    <div class="my-2">
                        <label asp-for="ImageUrl" class="f mb-2">Görsel</label>
                        <input type="file" accept=".png,.jpg,.jpeg" class="form-control mb-2" name="ImageURL" />
                    </div>

                    <div class="my-2">
                        <label asp-for="Tag1" class="f mb-2">Birinci Etiket</label>
                        <input type="text" class="form-control mb-2" asp-for="Tag1" />
                    </div>

                    <div class="my-2">
                        <label asp-for="Tag2" class="f mb-2">İkinci Etiket</label>
                        <input type="text" class="form-control mb-2" asp-for="Tag2" />
                    </div>

                    <div class="my-2">
                        <label asp-for="Tag3" class="f mb-2">Üçüncü Etiket</label>
                        <input type="text" class="form-control mb-2" asp-for="Tag3" />
                    </div>

                    <div class="Slider-center mb-4 mt-3">
                        <button type="submit" class="btn btn-primary px-4 py-2 ">Ekle</button>
                    </div>

                </form>
            </div>
        </div>

        <div>
            <a href="/Admin/FeaturedAbout/Index" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Geri Dön</a>
        </div>

    </div>

</section>


