
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erişim Engellendi</title>
    <link rel="stylesheet" href="~/css/AccesDenied.css">
</head>
<body>
    <div class="container">
        <div class="message-box">
            <h1>ERİŞİM ENGELLENDİ</h1>
            <p>Üzgünüz, bu sayfaya erişim izniniz yok.</p>
            <a href="/Default/Index" class="go-back-btn">Ana Sayfaya Dön</a>
        </div>
    </div>
</body>
</html>
