@model SenderedMessagesAndUsersViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/_Layout.cshtml";
    int count = 0;
}

<section class="section py-3 px-3" style="background-color: #f4f5f7;">
    @if (TempData["SuccessSendMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show p-2 position-relative text-center" role="alert">
            @TempData["SuccessSendMessage"]
            <button type="button" class="btn-close position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    }
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h1 class="text-dark fw-bold">Gelen Mesajlar</h1>
            <a href="/Admin/SenderedMessage/CreateSenderedMessage" class="btn btn-success my-4"><i class="bi bi-send me-1"></i>Mesaj Gönder</a>
        </div>

        <div class="table-responsive rounded shadow-sm bg-white p-4">
            <a href="/Admin/SenderedMessage/DeleteAllSenderedMessage" class="btn btn-outline-danger my-4"><i class="bi bi-trash text-danger me-1"></i>Tümünü Sil</a>
            <table class="table align-middle">
                <thead class="table-light">
                    <tr class="text-center">
                        <th scope="col" class="col-1">#</th>
                        <th scope="col" class="col-9">Konu</th>
                        <th scope="col" class="col-1">Sil</th>
                        <th scope="col" class="col-1">Görüntüle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.resultSenderedMessageDtos.OrderByDescending(x=>x.SenderedMessageId))
                    {
                        @* var sender = Model.userDetailViewModels.FirstOrDefault(x => x.Id == item.ReceiveId); *@
                        count++;
                        <tr class="text-center">
                            <td class="col-1">@count</td>
                            <td class="col-9">@item.Subject</td>

                            <td class="col-1">
                                <!-- Sil Butonu -->
                                <a href="/Admin/SenderedMessage/DeleteSenderedMessage?id=@item.SenderedMessageId">
                                    <i class="bi bi-trash fs-4 text-danger"></i>
                                </a>
                            </td>
                            <td class="col-1">
                                <!-- Güncelle Butonu -->
                                <a href="/Admin/SenderedMessage/GetByIdSenderedMessage/@item.SenderedMessageId">
                                    <i class="bi bi-eye fs-4 text-primary"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

