@model HeaderViewModel
<div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-6 p-5 mt-lg-5">
            @foreach (var item in Model.resultIntroTextAreaDto)
            {
                <h1 class="display-5 animated fadeIn mb-4">@item.Title</h1>
                <p class="animated fadeIn mb-4 pb-2">
                    @item.SubTitle
                </p>
            }
            
            <a href="/Property/Index" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Hemen İnceleyin</a>
        </div>
        <div class="col-md-6 animated fadeIn">
            <div class="owl-carousel header-carousel">
                @foreach (var item in Model.resultSliderTextAreaDto)
                {
                    <div class="owl-carousel-item">
                        <img class="img-fluid" src="@item.ImageUrl" alt="" style="width:660px;height:660px">
                    </div>
                }
                
            </div>
        </div>
    </div>
</div>
