@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Areas/Admin/Views/AdminLayout/_Layout.cshtml";
}

<section class="section">
    <div class="row">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Şifre Değiştirme</h5>

                @if (ViewData["FailedResetPasswordMessage"] != null)
                {
                    <div class="alert alert-danger">
                        @ViewData["FailedResetPasswordMessage"]
                    </div>
                }

                <form method="post">
                    <div class="my-2">
                        <label  class="f mb-2">Şifre</label>
                        <input type="password" class="form-control mb-2" name="newPassword" />
                    </div>
                    <div class="my-2">
                        <label class="f mb-2">Şifre Tekrar</label>
                        <input type="password" class="form-control mb-2" name="newPasswordAgain" />
                    </div>
                    <div class="text-center mb-4 mt-3">
                        <button type="submit" class="btn btn-primary px-4 py-2 ">Değiştir</button>
                    </div>

                </form>
            </div>
        </div>

        <div>
            <a href="/Admin/Profile/Index" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Geri Dön
            </a>
        </div>

    </div>

</section>

